# 1. Data Cleaning 


## Topic - Zomato Analysis

### Processes Done in the Data Cleaning

#### 1. Removing the null data
#### 2. Formatting the data as per the column
#### 3. Splitting the joined columns into seperate fields

In [1]:
import pandas as pd
import numpy as np

## Loading the dataset

source - https://www.kaggle.com/datasets/rabhar/zomato-restaurants-in-india?resource=download&select=zomato_restaurants_in_India.csv


The dataset from various sources were collected, few of them were of a particular city of india, few were of just metropolitan cities. 

The final dataset which is used for data analysis is mentioned above in source, it has 2Lakhs rows and 26 columns in starting.


Following is the data pre-processing, to make our data ready for analysis.

In [2]:
df=pd.read_csv(r"C:\Users\Vedangi Sharma\Downloads\Team 244 IBM\zomato_restaurants_in_India.csv")

In [4]:
df.shape

(211944, 26)

In [5]:
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211944 entries, 0 to 211943
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   res_id                211944 non-null  int64
 1   name                  211944 non-null  object
 2   establishment         211944 non-null  object
 3   url                   211944 non-null  object
 4   address               211810 non-null  object
 5   city                  211944 non-null  object
 6   city_id               211944 non-null  int64
 7   locality              211944 non-null  object
 8   latitude              211944 non-null  float64
 9   longitude             211944 non-null  float64
 10  zipcode               48757 non-null   object
 11  country_id            211944 non-null  int64
 12  locality_verbose      211944 non-null  object
 13  cuisines              210553 non-null  object
 14  timings               208070 non-null  object
 15  average_cost_for_two  211944 non-null  int64
 16  price_range           211944 non-null  int64
 17  currency              211944 non-null  object
 18  highlights            211944 non-null  object
 19  aggregate_rating      211944 non-null  float64
 20  rating_text           211944 non-null  object
 21  votes                 211944 non-null  int64
 22  photo_count           211944 non-null  int64
 23  opentable_support     211896 non-null  float64
 24  delivery              211944 non-null  int64
 25  takeaway              211944 non-null  int64
dtypes: float64(4), int64(9), object(13)
memory usage: 42.0+ MB

### Removing the duplicates from the dataset

As we can see res_id is the unique field to identify the cafes, we can remove the duplicate cafes with the having same res_id

In [7]:
df.drop_duplicates(["res_id"],keep='first',inplace=True)
df.shape

(55568, 26)

The raw data has more than 1.5 lakh rows of duplicate data. There are few columns which are not required as such for the data analysis.

In [8]:
df.columns

Index(['res_id', 'name', 'establishment', 'url', 'address', 'city', 'city_id',
       'locality', 'latitude', 'longitude', 'zipcode', 'country_id',
       'locality_verbose', 'cuisines', 'timings', 'average_cost_for_two',
       'price_range', 'currency', 'highlights', 'aggregate_rating',
       'rating_text', 'votes', 'photo_count', 'opentable_support', 'delivery',
       'takeaway'],
      dtype='object')

In [9]:
df['timings'].value_counts()

11 AM to 11 PM                                                    7012
10 AM to 10 PM                                                    1726
11 AM to 10 PM                                                    1429
10 AM to 11 PM                                                    1184
11 AM to 11 PM (Mon-Sun)                                          1021
                                                                  ...
11am â€“ 10pm (Mon-Thu),11am â€“ 11pm (Fri-Sat),Closed (Sun)             1
Closed (Mon),7PM to 11PM (Tue-Sun)                                   1
7:30 AM to 1 PM, 3 PM to 8:30 PM (Mon-Sun)                           1
10 AM to 3 PM, 6 PM to 1 AM (Mon-Sun)                                1
4pm â€“ 11pm (Mon, Tue, Wed, Fri, Sat, Sun), 4pm â€“ 11:30pm (Thu)       1
Name: timings, Length: 7740, dtype: int64

In [13]:
df['opentable_support'].value_counts()

0.0    55556
Name: opentable_support, dtype: int64

In [10]:
df['currency'].value_counts()

Rs.    55568
Name: currency, dtype: int64

In [19]:
df['takeaway'].value_counts()

-1    55568
Name: takeaway, dtype: int64

### Dropping the unwanted columns

'url', 'address','zipcode','locality_verbose', 'timings','currency', 'photo_count', 'opentable_support', ,'takeaway','country_id'


The url, address, zipcode and locality verbose are very unique to the cafe, hence these can be dropped off.

The timing of most of the cafes is common, and hence it is fine to not consider it in analysis.

As whole of the data belongs to INDIA, the currency is same for all the rows, so with the opentable_support, takeaway and country_id, hence these too can be dropped off.

Photo count is not related to analysis, so we can drop it off.

In [16]:
df.drop(['url', 'address','zipcode','locality_verbose', 'timings','currency', 'photo_count','opentable_support','takeaway','country_id'],inplace=True,axis=1)

In [21]:
df.shape

(55568, 17)

In [24]:
df.columns

Index(['res_id', 'name', 'establishment', 'city', 'city_id', 'locality',
       'latitude', 'longitude', 'cuisines', 'average_cost_for_two',
       'price_range', 'highlights', 'aggregate_rating', 'rating_text', 'votes',
       'delivery'],
      dtype='object')

## Formatting the data

####  Columns - `res_id`, `name`are the unique columns to each cafe, need no formatting.

#### 1. Column - `establishment`

In [25]:
df['establishment'].unique()

array(["['Quick Bites']", "['Casual Dining']", "['Bakery']", "['CafÃ©']",
       "['Dhaba']", "['Bhojanalya']", "['Bar']", "['Sweet Shop']",
       "['Fine Dining']", "['Food Truck']", "['Dessert Parlour']",
       "['Lounge']", "['Pub']", "['Beverage Shop']", "['Kiosk']",
       "['Paan Shop']", "['Confectionery']", '[]', "['Shack']",
       "['Club']", "['Food Court']", "['Mess']", "['Butcher Shop']",
       "['Microbrewery']", "['Cocktail Bar']", "['Pop up']",
       "['Irani Cafe']"], dtype=object)

In [27]:
print(df["establishment"].unique()[0])

['Quick Bites']

In [28]:
# Removing [' '] from each value
df["establishment"] = df["establishment"].apply(lambda x:x[2:-2])
print(df["establishment"].unique()[0])

Quick Bites

In [31]:
# Changing ''  to 'NA'
df["establishment"] = df["establishment"].apply(lambda x : np.where(x=="", "NA", x))
print(df["establishment"].unique())

['Quick Bites' 'Casual Dining' 'Bakery' 'CafÃ©' 'Dhaba' 'Bhojanalya' 'Bar'
 'Sweet Shop' 'Fine Dining' 'Food Truck' 'Dessert Parlour' 'Lounge' 'Pub'
 'Beverage Shop' 'Kiosk' 'Paan Shop' 'Confectionery' 'NA' 'Shack' 'Club'
 'Food Court' 'Mess' 'Butcher Shop' 'Microbrewery' 'Cocktail Bar' 'Pop up'
 'Irani Cafe']

#### Column - `city`, `city_id`, `locality`, `latitude`, `longitude` values are important for geospatial exploration and are already in correct format.

####  Column - `cuisines`

In [38]:
df['cuisines'].value_counts()

North Indian                                                        4295
Fast Food                                                           2025
North Indian, Chinese                                               1636
Bakery                                                              1585
South Indian                                                        1489
                                                                    ...
North Indian, South Indian, Asian                                      1
Bakery, Desserts, Fast Food, South Indian, Chinese, North Indian       1
Continental, American, South Indian, North Indian                      1
Ice Cream, Fast Food, Street Food                                      1
North Indian, Lucknowi, Chinese                                        1
Name: cuisines, Length: 9382, dtype: int64

In [47]:
df["cuisines"] = df["cuisines"].fillna("No cuisine")

In [48]:
cuisines = []
df["cuisines"].apply(lambda x : cuisines.extend(x.split(", ")))
cuisines = pd.Series(cuisines)
print("Total number of unique cuisines = ", cuisines.nunique())

Total number of unique cuisines =  134

In [49]:
## counting how many cuisines a cafe is providing
df['No. of Cuisines']=df['cuisines'].str.split(',').apply(len)

#### Columns - `average_cost_for_two` and `price_range` are very similar, average_cost_for_two represents the cost of the cafe, where as price range shows the range as follows:

    price_range   Average_cost_for_two

         1      0-500 
         2      501-1000
         3      1001 - 1500
         4      1501 - 2000
         5      2000 above

#### column - `highlights`

In [51]:
df['highlights'].unique()

array(["['Lunch', 'Takeaway Available', 'Credit Card', 'Dinner', 'Cash', 'Air Conditioned', 'Indoor Seating', 'Pure Veg']",
       "['Delivery', 'No Alcohol Available', 'Dinner', 'Takeaway Available', 'Lunch', 'Cash', 'Indoor Seating']",
       "['No Alcohol Available', 'Dinner', 'Takeaway Available', 'Breakfast', 'Lunch', 'Cash', 'Delivery', 'Outdoor Seating', 'Air Conditioned', 'Self Service', 'Indoor Seating', 'Digital Payments Accepted', 'Pure Veg', 'Desserts and Bakes']",
       ...,
       "['Dinner', 'Delivery', 'Cash', 'Takeaway Available', 'Free Parking', 'Digital Payments Accepted', 'Pure Veg', 'Indoor Seating']",
       "['Dinner', 'Cash', 'Takeaway Available', 'Lunch', 'Delivery', 'Free Parking', 'Indoor Seating', 'Air Conditioned', 'Outdoor Seating', 'Digital Payments Accepted', 'Catering Available', 'Pure Veg']",
       "['Dinner', 'Cash', 'Takeaway Available', 'Debit Card', 'Delivery', 'Credit Card', 'Free Parking', 'Outdoor Seating']"],
      dtype=object)

In [53]:
hl = []
df["highlights"].apply(lambda x : hl.extend(x[2:-2].split("', '")))
hl = pd.Series(hl)
print("Total number of unique highlights = ", hl.nunique())

Total number of unique highlights =  104

In [54]:
df['highlights']

0         ['Lunch', 'Takeaway Available', 'Credit Card',...
1         ['Delivery', 'No Alcohol Available', 'Dinner',...
2         ['No Alcohol Available', 'Dinner', 'Takeaway A...
3         ['Takeaway Available', 'Credit Card', 'Lunch',...
4         ['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...
                                ...
211882    ['Cash', 'Takeaway Available', 'Delivery', 'In...
211925    ['Dinner', 'Cash', 'Debit Card', 'Lunch', 'Tak...
211926    ['Dinner', 'Cash', 'Credit Card', 'Lunch', 'Ta...
211940    ['Dinner', 'Cash', 'Takeaway Available', 'Debi...
211942    ['Dinner', 'Delivery', 'Credit Card', 'Lunch',...
Name: highlights, Length: 55568, dtype: object

In [55]:
df['highlights']=df['highlights'].str.replace(" '",'')
df['highlights']=df['highlights'].str.replace("'",'')
df['highlights']=df['highlights'].str.replace('[','')
df['highlights']=df['highlights'].str.replace(']','')

C:\Users\VEDANG~1\AppData\Local\Temp/ipykernel_3664/1787271747.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['highlights']=df['highlights'].str.replace('[','')
C:\Users\VEDANG~1\AppData\Local\Temp/ipykernel_3664/1787271747.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['highlights']=df['highlights'].str.replace(']','')

In [57]:
df['highlights']

0         [Lunch, Takeaway Available, Credit Card, Dinne...
1         [Delivery, No Alcohol Available, Dinner, Takea...
2         [No Alcohol Available, Dinner, Takeaway Availa...
3         [Takeaway Available, Credit Card, Lunch, Deliv...
4         [Lunch, Serves Alcohol, Cash, Credit Card, Din...
                                ...
211882    [Cash, Takeaway Available, Delivery, Indoor Se...
211925    [Dinner, Cash, Debit Card, Lunch, Takeaway Ava...
211926    [Dinner, Cash, Credit Card, Lunch, Takeaway Av...
211940    [Dinner, Cash, Takeaway Available, Debit Card,...
211942    [Dinner, Delivery, Credit Card, Lunch, Cash, T...
Name: highlights, Length: 55568, dtype: object

In [56]:
df['highlights']=df['highlights'].str.split(',').tolist()

##### Splitting column - highlight in its respected columns based upon its values

In [59]:
for i in df['res_id']:
    c=[]
    for j in df.loc[df['res_id']==i,'highlights']:
        for k in j:
            if k in ['Cash']:
                df.loc[df['res_id']==i,'cash_payment']='Yes'
            if k in ['Credit Card','Debit Card']:
                df.loc[df['res_id']==i,'card_type']=k
            if k in ['Indoor Seating','Outdoor Seating']:
                df.loc[df['res_id']==i,'Seating']=k
            if k in ['Takeaway Available']:
                df.loc[df['res_id']==i,'takeaway']='Yes'
            if k in ['Pure Veg']:
                df.loc[df['res_id']==i,'Pure Veg']='Yes'
            if k in ['Lunch','Breakfast','Dinner']:
                c.append(k)
        df.loc[df['res_id']==i,'type_of_meal']=str(c)

In [61]:
df.loc[df['type_of_meal']=="['Lunch', 'Dinner']",'type_of_meal']=str(['Dinner', 'Lunch'])
df.loc[df['type_of_meal']=="['Lunch', 'Breakfast']",'type_of_meal']=str(['Breakfast','Lunch'])
df.loc[df['type_of_meal']=="['Dinner', 'Breakfast']",'type_of_meal']=str(['Breakfast','Dinner'])
df.loc[df['type_of_meal']=="['Breakfast', 'Dinner', 'Lunch']",'type_of_meal']=str(['Breakfast', 'Lunch', 'Dinner'])
df.loc[df['type_of_meal']=="['Lunch', 'Dinner', 'Breakfast']",'type_of_meal']=str(['Breakfast', 'Lunch', 'Dinner'])
df.loc[df['type_of_meal']=="['Dinner', 'Lunch', 'Breakfast']",'type_of_meal']=str(['Breakfast', 'Lunch', 'Dinner'])
df.loc[df['type_of_meal']=="['Dinner', 'Breakfast', 'Lunch']",'type_of_meal']=str(['Breakfast', 'Lunch', 'Dinner'])
df.loc[df['type_of_meal']=="['Lunch', 'Breakfast', 'Dinner']",'type_of_meal']=str(['Breakfast', 'Lunch', 'Dinner'])

In [72]:
df['takeaway'].fillna('No',inplace=True)
df['card_type'].fillna('NA',inplace=True)
df['cash_payment'].fillna('No',inplace=True)
df['Seating'].fillna('NA',inplace=True)
df['Pure Veg'].fillna('No',inplace=True)

In [77]:
df['type_of_meal'].replace('[]','NA',inplace=True)

In [78]:
df['type_of_meal'].value_counts()

['Dinner', 'Lunch']                 26012
NA                                  15837
['Breakfast', 'Lunch', 'Dinner']     9235
['Dinner']                           2220
['Breakfast']                        1292
['Breakfast', 'Lunch']                426
['Lunch']                             370
['Breakfast', 'Dinner']               176
Name: type_of_meal, dtype: int64

In [79]:
df['cash_payment']=df['cash_payment'].astype(int)
df['takeaway']=df['takeaway'].astype(int)

In [80]:
df['Seating'].replace('NA',df['Seating'].mode()[0],inplace=True)

#### column - `aggregate_rating`and`votes` dont require any formatting

#### column - `rating_text`

In [3]:
df['rating_text'].value_counts()

Very Good        65451
Good             63384
Average          42157
Not rated        23478
Excellent        15737
Poor              1175
Ã‡ok iyi             56
Sangat Baik         44
Muito Bom           44
Excelente           42
Muy Bueno           35
Bardzo dobrze       31
Bom                 26
SkvÄ›lÃ©              25
Baik                24
Velmi dobrÃ©         22
Harika              22
Ä°yi                 19
Ottimo              18
VeÄ¾mi dobrÃ©         17
Terbaik             16
Buono               14
SkvÄ›lÃ¡ volba        13
DobrÃ©               12
Bueno               11
Dobrze               9
Wybitnie             8
Eccellente           8
VynikajÃºce           7
PrÅ¯mÄ›r               6
Muito bom            6
MÃ©dia                5
Promedio             5
Scarso               3
Ortalama             3
Åšrednio              3
Priemer              3
Media                3
Biasa                2
Name: rating_text, dtype: int64

### RATING TYPE INTO ENGLISH
1. Very Good => 'Velmi dobrÃ©', 'Muy Bueno','Muito bom','Sangat Baik','Muito Bom','SkvÄ›lÃ¡ volba','VeÄ¾mi dobrÃ©','Bardzo dobrze' 
2. Good => 'Baik', 'Bom', 'Bueno' ,'Ä°yi','Dobrze','Buono','DobrÃ©','Priemer','PrÅ¯mÄ›r'
3. Excellent => 'ExcenikajÃºce','Ottimo','Ã‡ok iyi' ,'Wybitnie','Eccellente','Harika'
4. Average => 'Promedio', 'Ortalama','MÃ©dia','Biasa','Media','Terbaik','Åšrednio','SkvÄ›lÃ©'
5. Not rated => 'None'
6. Poor =>'Nedostatek hlasÅ¯','Scarso'

In [4]:
df.loc[df['rating_text'].isin(['Velmi dobrÃ©', 'Muy Bueno','Muito bom','Sangat Baik','Muito Bom','SkvÄ›lÃ¡ volba','VeÄ¾mi dobrÃ©','Bardzo dobrze']),['rating_text']]='Very Good'
df.loc[df['rating_text'].isin(['Baik', 'Bom', 'Bueno','Ä°yi','Dobrze','Buono','DobrÃ©','Priemer','PrÅ¯mÄ›r']),['rating_text']]='Good'
df.loc[df['rating_text'].isin(['Excelente', 'VynikajÃºce','Ottimo','Ã‡ok iyi','Wybitnie','Eccellente','Harika']),['rating_text']]='Excellent'
df.loc[df['rating_text'].isin(['Promedio', 'Ortalama','MÃ©dia','Biasa','Media','Terbaik','Åšrednio','SkvÄ›lÃ©']),['rating_text']]='Average'
df.loc[df['rating_text'].isin(['None']),['rating_text']]='Not rated'
df.loc[df['rating_text'].isin(['Nedostatek hlasÅ¯','Scarso']),['rating_text']]='Poor'

In [5]:
df['rating_text'].value_counts()

Very Good    65663
Good         63508
Average      42219
Not rated    23478
Excellent    15898
Poor          1178
Name: rating_text, dtype: int64

#### column - `delivery`

In [82]:
df['delivery'].replace('0','No',inplace=True)

In [81]:
df.isnull().sum()

res_id                  0
name                    0
establishment           0
city                    0
city_id                 0
locality                0
latitude                0
longitude               0
cuisines                0
average_cost_for_two    0
price_range             0
highlights              0
aggregate_rating        0
rating_text             0
votes                   0
delivery                0
No. of Cuisines         0
takeaway                0
card_type               0
cash_payment            0
Seating                 0
type_of_meal            0
Pure Veg                0
dtype: int64

In [83]:
df.to_csv('INDIA_ZOMATO.csv',index=False)